<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FpingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FpingTool.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FpingTool.Properties.Settings>
            <setting name="华南" serializeAs="String">
                <value>obs.cn-south-1.myhuaweicloud.com</value>
            </setting>
            <setting name="华东" serializeAs="String">
                <value>obs.cn-east-2.myhuaweicloud.com</value>
            </setting>
            <setting name="fa62" serializeAs="String">
                <value>139.9.44.145</value>
            </setting>
        </FpingTool.Properties.Settings>
        <FpingTool.Settings1>
            <setting name="Host" serializeAs="String">
                <value>139.9.44.145</value>
            </setting>
        </FpingTool.Settings1>
    </applicationSettings>
</configuration>